pandas
numpy
scikit-learn
streamlit
shap
matplotlib
fpdf2
jinja2
python-dotenv
deep-translator
easyocr
gTTS
opencv-python-headless
pypdf2
sqlalchemy
streamlit-mic-recorder
SpeechRecognition
fpdf2
